CompileFlags:
    Compiler: i686-elf-gcc
    Add:
        - -xc
        - -ffreestanding
        - -nostdlib
        - -I/Users/damarion/Repositories/custom-os/src/include
        - -std=gnu99
        - -mgeneral-regs-only
        - -Wall
        - -Wextra